# Potion
public net.minecraft.world.item.alchemy.PotionBrewing potionMixes
public net.minecraft.world.item.alchemy.PotionBrewing$Mix

# Recipes

# Render
public net.minecraft.client.gui.GuiGraphicsExtractor blitTiledSprite(Lcom/mojang/blaze3d/pipeline/RenderPipeline;Lnet/minecraft/client/renderer/texture/TextureAtlasSprite;IIIIIIIIIII)V
